@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import 'tailwindcss';
@import './fonts.css';
@import './theme.css';
@import './utilities.css';

@layer base {
  html,
  body {
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
